*{
    margin: 0;
    
}
body {
        font-family: raleway;
        background-color: #ffffff;
        font-size: 16px;

}

header{
        position: fixed;
        top: 20px;
        left: 20px;
}
h1{
        font-size: 24px;
        font-weight: 700;
}
footer {
        position: fixed;
        bottom: 20px;
        left: 20px;
}

section{
        height:100vh;
        background-image: url(images/1.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
}

.images_2{
        background-image: url(images/2.jpg);
}

.images_3{
        background-image: url(images/3.jpg);
}

.images_4{
        background-image: url(images/4.jpg);
}

.images_5{
        background-image: url(images/5.jpg);
}

.images_6{
        background-image: url(images/6.jpg);
}

.images_7{
        background-image: url(images/7.jpg);
}
.images_8{
        background-image: url(images/8.jpg);
}
.image_9{
        background-image: url(images/9.jpg);
}
.images_10{
        background-image: url(images/10.jpg);
}
.images_11{
        background-image: url(images/11.jpg);
}
